* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

img,
embed,
video,
object {
    max-width: 100%;
    display: block;
}