.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 6px -6px rgb(199, 199, 199);
    /* border-bottom: 2px rgb(218, 218, 218) solid; */
    padding: 2rem;
    background: #fdf8f0;
}

.logo {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >p{
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        color: rgb(0, 0, 0);
        text-decoration: line-through 2px rgba(255, 143, 91, 0.699);
    }
    >span {
        text-align: center;
        font-weight: 300;
        color: rgb(99, 99, 99);
    }
}

.nav-bar {
    >ul {
        display: flex;
        flex-direction: row;

        >li {
            margin-right: 1rem;
        }
    }
}