.menu-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70vw;
    box-shadow: 0 0 6px 6px rgb(112, 112, 112);
    background-color: #fff;
    display: grid;
    grid-template-rows: 10vh 1fr;
    justify-items: end;

    >h1 {
        grid-column: 1/-1;
        margin: 0;
        align-self: stretch;
        justify-self: stretch;
        display: grid;
        place-items: center;
        background-color: #fafafa;
    }

    >.nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;

        >li {
            height: 2rem;
            display: flex;
            justify-content: space-between;
            padding: 0 2rem;
            align-items: center;
            /* box-shadow: 0 0 2px -1px rgb(66, 66, 66); */
            cursor: pointer;

            &:hover {
                color: rgb(85, 85, 85);
            }
        }

    }
}

.mobile-align {
    margin-top: auto;
}

.exit-btn {
    border-radius: 50%;
    padding: 0;
    margin: 0;
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    border: none;
    display: grid;
    place-items: center;

    &:hover {
        background-color: #a8a8a8;
    }
}

.menu-modal.search-modal {
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 5vh 1fr;

    >.text-field-search {
        grid-row: 2/3;
        width: calc(100% - 2rem);
        margin-inline: 1.5rem;
    }

    >.search-results {
        grid-row: 3/4;
        width: 100%;
        display: grid;
        overflow-y: auto;
        overflow-x: hidden;

        >ul {
            display: flex;
            flex-direction: column;

            /* gap: 1rem; */
            >li {
                height: 5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 3rem;
                cursor: pointer;
                border-bottom: 2px #f1f1f1 solid;

                &:hover {
                    background-color: #f0f0f0;
                }

                >div {
                    display: flex;
                    align-items: center;
                    gap: 2rem;

                    >img {
                        height: 4rem;
                        width: 4rem;
                        background-color: var(-);
                    }
                }


            }
        }

        >p {
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            text-align: center;
            color: #a8a8a8;
        }
    }
}