.product-details {
    display: grid;
    grid-template-columns: minmax(0, 100px) 90% minmax(0, 100px);
    grid-template-rows: auto max-content;

    >.product-card {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;

        /* background-color: #fff9ec; */

        /* border: 0.2rem solid rgba(245, 245, 245, 0.397); */
        color: rgb(63, 63, 63);

        >img {
            place-self: center;
            grid-column: 2/3;
            max-height: 30rem;
            width: auto;
        }

        >div.info {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            grid-column: 1/2;
            grid-row: 1/2;

            >.name {
                font-family: serif;
                font-size: clamp(1.5rem, 35px, 3rem);
                font-weight: 400;
                padding-block-start: 1rem;
            }

            >.price {
                font-weight: 600;
                font-size: 1.2rem;
            }

            >.description {
                background-color: var(--header-bgc);
                padding: 0.7rem;
                border-radius: 5px;
            }

            .wood-types {
                display: flex;
                gap: 2rem;

                >.wood {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >img {
                        cursor: pointer;
                        border: 2px solid rgba(0, 0, 0, 0.164);
                        padding: 3px;
                        margin-block-end: 0.1rem;
                        border-radius: 5px;
                        height: 3rem;
                        width: 3rem;
                        transition: width 0.6s ease, height 0.6s ease;

                        &:hover {
                            height: 5rem;
                            width: 5rem;
                        }
                    }
                }
            }

            >a {
                text-align: center;
                cursor: pointer;
                padding: 0.6rem;
                border-radius: 5px;
                color: white;
                font-weight: 600;
                border: none;
                background-color: black;
                max-width: 30rem;
                display: flex;
                justify-content: center;
                align-items: center;

                >svg {
                    margin-inline-start: 0.5rem;
                }

                &:hover {
                    text-decoration: none;
                    background-color: #000000d2;
                    color: var(--header-bgc);
                    box-shadow: 0 0 8px 8px var(--header-bgc);
                }
            }

            .technical-details-en {
                display: flex;
                margin-block-end: 0.5rem;

                >p {
                    padding-inline-start: 0.5rem;
                    padding-inline-end: 0.5rem;
                }

                >span:not(:last-of-type) {
                    padding-inline-end: 0.5rem;

                    &::after {
                        content: ", ";
                    }
                }
            }

            .technical-details-he {
                display: flex;
                margin-block-end: 0.5rem;
                flex-direction: row-reverse;

                >p {
                    padding-inline-start: .5rem;
                    padding-inline-end: 0.5rem;
                }

                >span:not(:last-of-type) {
                    &::before {
                        content: ", ";
                    }
                }
            }
        }
    }

    .suggestion {
        grid-area: 2/2/3/3;
        display: flex;
        justify-content: space-around;
        >div {
            display: grid;
            grid-template-columns: 5% 80% 5%;
            place-items: center;
            gap: 1rem;
            width: 90vw;
            justify-content: space-around;
            >button {
                margin:6rem 0 ;
                border-radius: 50%;
                height: 3rem;
                width: 3rem;
                background-color: var(--header-bgc);
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            >ul {
                display: flex;
                flex-direction: row;
                gap: 3rem;
                >li{
                    transform: opacity 1s ease in;
                }
            }
        }
    }
}

.note {
    width: fit-content;
    padding: 0.4rem;
    border-radius: 5px;
    background-color: var(--header-bgc);
}

@media (max-width:768px) {
    .product-details {
        >.product-card {
            display: flex;
            flex-direction: column;
        }
    }
}