.product-preview {
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: var(--border-radius1); */
    border-radius: 0.2rem;
    box-shadow: 0 0 2px 2px rgb(231, 231, 231) ;
    background-color: var(--image-background-color);
    >img {
        height: 8rem;
        width: 8rem;
        background: var(--image-background-color);
        border-radius: var(--border-radius1);
    }
}
.product-preview:hover{
    cursor: pointer;
    background-color: #dadada;
    >img{
        background-color: #dadada;
    }
}
