.product-preview {
    height: 18rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: var(--image-background-color);
    cursor: pointer;
    transition: opacity 0.3s ease-in;
    
    
    >img {
        background-image: url('../../../../public/images/bgc/empty-industrial-room-interior-design.jpg');
        background-size: cover;
        height: 10rem;
        width: 10rem;
        border-radius: 5px;
        transition: height 0.4s ease, width 0.4s ease;
    }

    &:hover {
        >img {
            background-size: cover;
            height: 11rem;
            width: 11rem;
        }
    }
    
    >span,button {
        margin-block-start: 0.2rem;
        align-self: self-start;
    }
    .btn-preview{
        border: none;
        padding: 0.3rem;
        border-radius: 5px;
        background-color: #000000;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover{
            background-color: #6e6e6e;
            color: black;
            transition: background-color 0.5s ease;
            cursor: pointer;
        }
    }
}

img.visible {
    height: 14rem !important;
    width: 14rem !important;
}

@media (max-width: 768px) {
    .product-preview {
        >img {
            height: 12rem;
            width: 12rem;
        }
        
        

        &:hover {
            >img {
                height: 14rem;
                width: 14rem;
            }
        }
    }
}